/*
 * Platz für eigene Änderungen direkt als CSS
 * Die hier gemachten Änderungen überschreiben ggfs. andere Styles, da diese Datei als letzte geladen wird.
 */


/* Variables */

:root {
    --beauty-main-bg-color: #841853;
    --hair-main-bg-color: #ef5b5b;
    --medical-main-bg-color: #30d9b7;
    --beauty-second-bg-color: #9e2965;
    --hair-second-bg-color: #f16f6f;
    --medical-second-bg-color: #3edbb8;
    --main-text-color-grey: #525252;
}

body {
    font-family: Poppins, sans-serif;
}

body .productbox-price {
    font-family: Poppins, sans-serif;
}

body #footer .productlist-filter-headline {
    font-family: Poppins, sans-serif;
}


/* Font size adaptions END */


/* Links */

body[color-theme="1563"] a:hover {
    color: var(--beauty-main-bg-color);
}

body[color-theme="310"] a:hover {
    color: var(--medical-main-bg-color);
}

body[color-theme="217"] a:hover {
    color: var(--hair-main-bg-color);
}

body[color-theme="1563"] aside .nav-panel>.nav>.active>.nav-link {
    border-bottom: 0.375rem solid var(--beauty-main-bg-color);
}

body[color-theme="310"] aside .nav-panel>.nav>.active>.nav-link {
    border-bottom: 0.375rem solid var(--medical-main-bg-color);
}

body[color-theme="217"] aside .nav-panel>.nav>.active>.nav-link {
    border-bottom: 0.375rem solid var(--hair-main-bg-color);
}


/*Navigation Icons*/

body[color-theme="1563"] .nav-link:hover:not(.dropdown-item):not(.btn) {
    color: var(--beauty-main-bg-color);
}

body[color-theme="1563"] header .navbar-nav>.nav-item>.nav-link::before {
    border-color: var(--beauty-main-bg-color);
}

body[color-theme="310"] .nav-link:hover:not(.dropdown-item):not(.btn) {
    color: #30d9b7;
}

body[color-theme="310"] header .navbar-nav>.nav-item>.nav-link::before {
    border-color: #30d9b7;
}

body[color-theme="217"] .nav-link:hover:not(.dropdown-item):not(.btn) {
    color: var(--hair-main-bg-color);
}

body[color-theme="217"] header .navbar-nav>.nav-item>.nav-link::before {
    border-color: var(--hair-main-bg-color);
}

body[color-theme="217"] .first-layer-menu-list .nav-item.active .nav-link {
    color: white;
}


/* End Navigation Icons */


/* Sidebar */

body[color-theme="1563"] .noUi-horizontal .noUi-connect {
    background-color: var(--beauty-main-bg-color);
}

body[color-theme="1563"] .noUi-horizontal .noUi-handle {
    background: var(--beauty-main-bg-color);
    box-shadow: 0 0 0 5px rgba(200, 121, 156, 0.5);
}

body[color-theme="310"] .noUi-horizontal .noUi-connect {
    background-color: #30d9b7;
}

body[color-theme="310"] .noUi-horizontal .noUi-handle {
    background: #30d9b7;
    box-shadow: 0 0 0 5px rgba(48, 217, 183, 0.5);
}

body[color-theme="217"] .noUi-horizontal .noUi-connect {
    background-color: var(--hair-main-bg-color);
}

body[color-theme="217"] .noUi-horizontal .noUi-handle {
    background: var(--hair-main-bg-color);
    box-shadow: 0 0 0 5px rgba(239, 91, 91, 0.5);
}


/* End Sidebar */


/* Buttons */

#footer #social-media-wrapper .btn-icon-beautek {
    border-color: transparent;
    color: #fff;
}

#footer #social-media-wrapper .btn-icon-beautek:hover {
    color: var(--beauty-main-bg-color);
}


/* Menu START */


/* Category START */

.navbar-nav .dropdown-menu.show {
    position: absolute;
}


/* Category END */


/* Mobil */

.offcanvas-first-layer .first-layer-menu-list {
    list-style: none;
    padding-left: 0;
}


/* Menu END */

.shop-first-layer-navigation {
    display: flex;
    align-items: end;
}

.shop-first-layer-navigation .first-layer-menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}


/* Footer Adaptions */

footer#footer {
    padding-top: 0;
}

footer#footer .row#footer-top {
    border-bottom: 2px solid white;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    padding: 25px 0;
}

footer#footer .productlist-filter-headline {
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

footer#footer .nav-item a {
    color: #fff;
}

footer#footer .footer-beautek-logo {
    max-width: 35px;
    height: auto;
}

#footer #copyright {
    background-color: transparent;
    color: #fff;
}

#footer .footnote-vat a {
    color: #fff;
    text-decoration: none;
}

#footer .footer-social-media {
    margin-bottom: 0;
    margin-top: 0;
}

#footer #social-media-wrapper.footer-additional-wrapper li {
    margin-bottom: 0;
}


/* Beauty Header START */

body[color-theme="1563"] .shop-first-layer-navigation .first-layer-menu-list .nav-item .nav-link:hover {
    color: #c8799c;
}

body[color-theme="1563"] .shop-first-layer-navigation .first-layer-menu-list .nav-item.active .nav-link:hover {
    color: white;
}

body[color-theme="1563"] #header-top-bar {
    color: var(--beauty-main-bg-color);
}

body[color-theme="1563"] #header-top-bar a.nav-link {
    color: var(--beauty-main-bg-color);
}

body[color-theme="1563"] #header-top-bar a.nav-link:hover {
    color: #c8799c;
}

body[color-theme="1563"] header a:hover:not(.dropdown-item):not(.btn) {
    color: #c8799c;
}


/* Beauty Header END */


/* Beauty footer */

body[color-theme="1563"] footer#footer {
    background: #c8799c;
}

body[color-theme="1563"] footer#footer .nav-item a:hover {
    color: var(--beauty-main-bg-color);
}

body[color-theme="1563"] footer#footer .box-linkgroup a {
    color: #fff;
}

body[color-theme="1563"] #footer #social-media-wrapper .btn-icon-beautek:hover {
    color: #c8799c;
}

body[color-theme="1563"] footer#footer .footnote-vat a:hover {
    color: #c8799c;
    text-decoration: underline;
}


/* Main Logo */

body[color-theme="310"] #shop-logo {
    content: url("/media/image/opc/lg/Logos/BEAUTEK_logo_mint_RGB.svg");
}

body[color-theme="217"] #shop-logo {
    content: url("/media/image/opc/lg/Logos/BEAUTEK_logo_black_RGB.svg");
}

body[color-theme="310"] #shop-logo {
    height: 1.3rem !important;
    width: auto !important;
}

body[color-theme="217"] #shop-logo {
    height: 1.3rem !important;
    width: auto !important;
}

@media (min-width: 992px) {
    body[color-theme="310"] #shop-logo {
        height: 50px !important;
        width: 180px !important;
    }
}

@media (min-width: 992px) {
    body[color-theme="217"] #shop-logo {
        height: 50px !important;
        width: 180px !important;
    }
}


/*Medical header START*/

body[color-theme="310"] .shop-first-layer-navigation .first-layer-menu-list .nav-item .nav-link:hover {
    color: #131313;
}

body[color-theme="310"] #header-top-bar {
    color: #30d9b7;
}

body[color-theme="310"] #header-top-bar a.nav-link {
    color: #30d9b7;
}

body[color-theme="310"] #header-top-bar a.nav-link:hover {
    color: #131313;
}

body[color-theme="310"] header a:hover:not(.dropdown-item):not(.btn) {
    color: #30d9b7;
}


/*Medical header END*/


/* Medical footer */

body[color-theme="310"] footer#footer {
    background: #d5f0e7;
}

body[color-theme="310"] footer#footer .footnote-vat a:hover {
    color: #525252;
    text-decoration: underline;
}

body[color-theme="310"] #footer #social-media-wrapper .btn-icon-beautek:hover {
    color: #525252;
}

body[color-theme="310"] footer#footer .footer-beautek-logo {
    content: url("/media/image/opc/lg/Logos/beautek_icon_mint_rgb.png");
}


/* Hair Header START */

body[color-theme="217"] .shop-first-layer-navigation .first-layer-menu-list .nav-item .nav-link:hover {
    color: #ef5b5b;
}

body[color-theme="1563"] .shop-first-layer-navigation .first-layer-menu-list .nav-item.active .nav-link:hover,
body[color-theme="1563"] .shop-first-layer-navigation .first-layer-menu-list .nav-item.active .nav-link {
    color: white;
}

body[color-theme="217"] #header-top-bar {
    color: var(--hair-main-bg-color);
}

body[color-theme="217"] #header-top-bar a.nav-link {
    color: var(--hair-main-bg-color);
}

body[color-theme="217"] #header-top-bar a.nav-link:hover {
    color: white;
}

body[color-theme="217"] header a:hover:not(.dropdown-item):not(.btn) {
    color: #f4a7a8;
}


/* Hair Header END */


/* Hair footer */

body[color-theme="217"] footer#footer {
    background: #f4a7a8;
}

body[color-theme="217"] footer#footer .productlist-filter-headline {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

body[color-theme="217"] footer#footer .nav-item a:hover {
    color: var(--hair-main-bg-color);
}

body[color-theme="217"] footer#footer .box-linkgroup a {
    color: #fff;
}

body[color-theme="217"] #footer #social-media-wrapper .btn-icon-beautek:hover {
    color: #f4a7a8;
}

body[color-theme="217"] footer#footer .footnote-vat a:hover {
    color: #f4a7a8;
    text-decoration: underline;
}

body[color-theme="217"] footer#footer .footer-beautek-logo {
    content: url("/media/image/opc/lg/Logos/beautek_icon_white_rgb.png");
}

#footer #social-media-wrapper {
    display: flex;
}

@media (max-width: 576px) {
    #footer #social-media-wrapper {
        justify-content: center !important;
    }
    #footer #copyright {
        text-align: center;
        font-size: .825rem;
    }
    #footer .footnote-vat {
        text-align: center;
        font-size: .825rem;
    }
}


/* Product-box START */

.productbox-inner .productbox-images.list-gallery {
    filter: brightness(0.94);
    background: #f3f3f3;
}


/* Product-box END */


/* Buttons START */

.beautek-outline-white .btn {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: all 0.125s;
    background: transparent;
    padding: 10px 20px;
}

.beautek-outline-white .btn:hover {
    color: var(--hair-main-bg-color);
    background: white;
    border-color: white;
}


/*  Beauty Button primary */

body[color-theme="1563"] .btn-primary {
    background: var(--beauty-main-bg-color);
    border-color: var(--beauty-main-bg-color);
    color: white;
}

body[color-theme="1563"] .btn-primary:hover {
    background: var(--beauty-second-bg-color);
    color: white;
}


/* Medical Button primary */

body[color-theme="310"] .btn-primary {
    background: var(--medical-main-bg-color);
    border-color: var(--medical-second-bg-color);
    color: white;
}

body[color-theme="310"] .btn-primary:hover {
    background: var(--medical-second-bg-color);
    color: white;
}


/* Hair Button primary */

body[color-theme="217"] .btn-primary {
    background: var(--hair-main-bg-color);
    border-color: var(--hair-second-bg-color);
    color: white;
}

body[color-theme="217"] .btn-primary:hover {
    background: var(--hair-second-bg-color);
    color: white;
}

@media (max-width: 576px) {
    .beautek-outline-white .btn {
        font-size: 16px;
        padding: 8px 15px;
    }
}


/* Buttons END */


/* Badges START */

body[color-theme="1563"] .badge-primary {
    background: var(--beauty-main-bg-color);
    color: #fff;
}

body[color-theme="1563"] .badge-primary:hover {
    color: white;
    background: var(--beauty-second-bg-color);
}

body[color-theme="310"] .badge-primary {
    background: var(--medical-main-bg-color);
}

body[color-theme="310"] .badge-primary:hover {
    color: white;
}

body[color-theme="217"] .badge-primary {
    background: var(--hair-main-bg-color);
    color: #fff;
}

body[color-theme="217"] .badge-primary:hover {
    color: var(--main-text-color-grey);
}


/* Badges END */


/* Product detail */

body[color-theme="1563"] #result-wrapper .nav-link.active {
    border-color: var(--beauty-main-bg-color);
    color: var(--main-text-color-grey);
    cursor: default;
}

body[color-theme="1563"] #result-wrapper .nav-link.active:after {
    border-color: var(--beauty-main-bg-color);
}

body[color-theme="310"] #result-wrapper .nav-link.active {
    border-color: var(--medical-main-bg-color);
    color: var(--main-text-color-grey);
    cursor: default;
}

body[color-theme="310"] #result-wrapper .nav-link.active:after {
    border-color: var(--medical-main-bg-color);
}

body[color-theme="217"] #result-wrapper .nav-link.active {
    border-color: var(--hair-main-bg-color);
    color: var(--main-text-color-grey);
    cursor: default;
}

body[color-theme="217"] #result-wrapper .nav-link.active:after {
    border-color: var(--hair-main-bg-color);
}

body[color-theme="1563"] #product-configurator .nav-link.active {
    background-color: var(--beauty-main-bg-color);
    color: #fff;
}

body[color-theme="310"] #product-configurator .nav-link.active {
    background-color: var(--medical-main-bg-color);
    color: #fff;
}

body[color-theme="217"] #product-configurator .nav-link.active {
    background-color: var(--hair-main-bg-color);
    color: #fff;
}

body[color-theme="1563"] .modal-header .close:hover {
    background: var(--beauty-main-bg-color);
}

body[color-theme="310"] .modal-header .close:hover {
    background: var(--medical-main-bg-color);
}

body[color-theme="217"] .modal-header .close:hover {
    background: var(--hair-main-bg-color);
}


/* Product detail END */


/* Forms START */

body[color-theme="1563"] .form-control:focus {
    border-color: var(--beauty-main-bg-color);
}

body[color-theme="310"] .form-control:focus {
    border-color: var(--medical-main-bg-color);
}

body[color-theme="217"] .form-control:focus {
    border-color: var(--hair-main-bg-color);
}


/* Forms END */


/* Breadcrumb START */

.breadcrumb-item+.breadcrumb-item::before {
    content: "\203A";
}


/* Breadcrumb END */


/************************************
/* Artikel  - Ribbons */


/*************************************/

.ribbon-2 {
    background-color: #666666;
    color: #FFF;
}

.ribbon-2::before {
    border-right-color: #666666;
}


/***************************************/


/* Detailseite - Konfigurator - Beginn */


/***************************************/

:root {
    --main-cfg: #841853;
}

#product-configurator .cfg-headline {
    padding: 1rem;
}

#cfg-container-tab-panes.tab-content {
    height: auto;
    margin: 0;
    padding-right: 0;
    border-bottom: 0;
}

#cfg-container .config-sidebar .config-sidebar-wrapper {
    position: sticky;
    top: 132px;
    padding: 0;
    border: 1px solid #ebebeb;
}

#cfg-container .config-sidebar .config-sidebar-wrapper .custom-config-title {
    background-color: var(--main-cfg);
    padding: 1rem;
    color: #fff;
}

#cfg-container .cfg-group .cfg-group-info.sticky-top {
    position: relative;
    z-index: 1;
}

#cfg-container .cfg-group {
    padding: 0 1rem;
    border: 1px solid #ebebeb;
    margin-bottom: .5rem;
}

#cfg-container #cfg-accordion>div.cfg-group:last-of-type {
    margin-bottom: 0;
}

#cfg-container .cfg-group .hr-sect {
    justify-content: start;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-top: 0;
    margin-bottom: .5rem;
    background-color: var(--main-cfg);
    position: relative;
}

#cfg-container .cfg-group .hr-sect:hover {
    cursor: pointer;
}

#cfg-container .cfg-group .hr-sect>span {
    position: absolute;
    right: 1rem;
    color: #fff;
}

#cfg-container .cfg-group .hr-sect>span .fa-chevron-down {
    display: block;
}

#cfg-container .cfg-group .hr-sect>span .fa-chevron-up {
    display: none;
}

#cfg-container .cfg-group.active .hr-sect>span .fa-chevron-down {
    display: none;
}

#cfg-container .cfg-group.active .hr-sect>span .fa-chevron-up {
    display: block;
}

#cfg-container .cfg-group .hr-sect::before {
    display: none;
}

#cfg-container .cfg-group .hr-sect::after {
    display: none;
}

#cfg-container .cfg-group .hr-sect button.btn-link {
    pointer-events: none;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1;
}

#cfg-container .cfg-group .hr-sect button.btn-link:after {
    display: none;
}

#cfg-container .cfg-group .hr-sect button.btn-link:disabled {
    color: #fff !important;
    opacity: 1;
}

#cfg-container .cfg-group-info .badge {
    font-size: 1rem;
}


/*.cfg-group.js-cfg-group .collapse.js-cfg-group-collapse {
	display: block !important;
}*/

.cfg-group.js-cfg-group .sticky-bottom {
    display: none;
}

#cfg-tab-pane-summary #add-to-cart {
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;
}

@media (min-width: 992px) {
    #cfg-tab-pane-summary #add-to-cart>.row.basket-form-inline {
        margin-bottom: 0;
    }
    #cfg-tab-pane-summary #add-to-cart>.row>div {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #cfg-tab-pane-summary #add-to-cart>.row>div:first-of-type {
        margin-bottom: .5rem;
    }
}

@media (max-width: 991px) {
    #cfg-container-tab-panes.tab-content {
        margin-bottom: 1rem;
    }
}

.cfg-group .cfg-swatch:checked~.custom-control-label .config-item {
    border-color: var(--main-cfg);
}

.cfg-group .cfg-swatch:checked~.custom-control-label .config-item .badge-circle {
    display: flex;
    background-color: var(--main-cfg);
    border-color: var(--main-cfg);
}


/*************************************/


/* Detailseite - Konfigurator - Ende */


/*************************************/

@media (max-width: 991.98px) {
    header .navbar-nav .nav-link {
        justify-content: left;
        /*ermöglicht dass Bild und Kategoriename  nebeneinander sitzen*/
    }
    img+.nav-mobile-heading {
        margin-left: -1.5rem;
        /*Verschiebung des Kategorienamens nach links als Kompensation für breite Kategoriebilder in Wawi*/
    }
    .navbar-mobile-category_image {
        margin-left: -2rem;
        margin-top: -0.7rem;
    }
    header .navbar-nav .nav-link::after {
        margin-left: auto;
        /* Verschiebt den Navbar Link nach rechts außen*/
    }
    .navbar-nav .nav-item,
    header .navbar-nav .nav-link {
        padding-top: 0.5rem;
        /*Verkleinerung des Abstandes der einzelnen Elemente*/
    }
    .categories-recursive-link {
        display: flex;
    }
    .categories-recursive-link>.text-truncate.d-block {
        margin-left: -1.5rem;
    }
}


/*************************************/


/* Shop Navigaton Kosmetik Friseur Medizin in entsprechenden Farben*/


/*************************************/


/* Kosmetik */

.first-layer-menu-list li:nth-child(1).active {
    background-color: var(--beauty-main-bg-color);
    color: white;
    /* Kosmetik Reiter in mobilem Nav Menü erscheint in den Company Farben */
}

.first-layer-menu-list li:nth-child(1).active:hover {
    background-color: var(--beauty-second-bg-color);
    color: white;
    /* Bei Hover ändert sich der aktive Button zur entsprechenden Second Color */
}


/* Friseur */

[color-theme="217"] .first-layer-menu-list li:active {
    background-color: var(--hair-main-bg-color) !important;
    color: white;
    /* Friseur Reiter in mobilem Nav Menü erscheint in den Company Farben */
}

.first-layer-menu-list li:nth-child(2).active:hover {
    background-color: black;
    color: white;
    /* Bei Hover ändert sich der aktive Button zur entsprechenden Second Color */
}


/* Medizin */

[color-theme="310"] .offcanvas-first-layer .first-layer-menu-list li:nth-child(3).active.nav-item {
    background-color: var(--medical-main-bg-color);
    /* Friseur Reiter in mobilem Nav Menü erscheint in den Company Farben */
}

.first-layer-menu-list li:nth-child(3).active:hover {
    background-color: var(--medical-main-bg-color);
    color: white;
    /* Bei Hover ändert sich der aktive Button zur entsprechenden Second Color */
}


/* Für alle Kategorien */

body[color-theme="310"] .shop-first-layer-navigation .first-layer-menu-list .nav-item .nav-link:hover {
    color: var(--medical-main-bg-color) !important;
}


/* Beautek Cookie Banner - Border - Radius */

.centerCat__AcB {
    border-radius: none;
}

.button__xUR {
    min-height: 40px;
}

body h1 {
    font-weight: 700;
}

.productbox-title a {
    text-decoration: none;
}

.productbox-inner .productbox-title {
    margin-top: 0.5rem;
}

[color-theme="217"].eotTLL {
    background-color: var(--hair-main-bg-color);
}

[color-theme="310"].eotTLL {
    background-color: var(--medical-main-bg-color);
}


/* Entferne die Link Striche  */

.product-wrapper-product>a {
    text-decoration: none;
}

.item-slider-price {
    margin-top: 0.3rem;
}

span.item-slider-desc.text-clamp-2 {
    margin-top: 0.5rem;
}